.form-item-placeholder {
    opacity: 1;
}

.help-block {
    opacity: 1;
    // transition-property: opacity;
    // transition-duration: 10s;
    // transition-timing-function: linear; 
}

.is-valid {
    opacity: 0.9;
}