 <!-- Form -->
 <div class="container-3 container-fluid">
  <div class="form-header">
      <h2 class="text-white">Få 10 gode råd om <br> digital transformation</h2>
      <h4 class="text-white">Ja tak, jeg vil gerne høre mere om digital transformation</h4>
  </div>
  <form>
      <div class="form-container">
          <div class="form-row">
              <input class="form-item" type="text" name="" id="name" placeholder="Navn">
          </div>
          <div class="form-row">
              <input class="form-item no-spinners" type="number" name="" id="mobile" placeholder="Mobil">
              <input class="form-item" type="mail" name="" id="mail" placeholder="e-mail">  
          </div>
          <div class="form-row">
              <input class="form-item no-spinners" type="number" id="postCode" placeholder="Postnr.">
              <input class="form-item" type="text" name="" id="city" placeholder="By">
          </div>
      </div>  
      <div class="form-button-container">
          <button id="form-button" onclick="formSubmitted(event)">Ring mig op</button>
      </div>
  </form>
  <div class="trophy-wrapper">
      <img src="./assets/prize.svg" alt="trophy" class="trophy">
      <p class="text-white">Pentia vinder pris for digital innovation 2017</p>
  </div>
</div>