<!-- Transformation -->
<div class="container-transform container-fluid">
  <div class="transformation-header">
      <h2 class="text-black">Vi kan hjælpe dig med 
          <br>
          digital transformation på to fronter
      </h2>
  </div>
  <div class="transformation-content">
      <div class="strategy">
          <div class="svg-and-title">
              <img src="./assets/illustration1.svg" alt="Bars and curves" class="strategySVG">
              <div class="transformation-header">
                  <h3 class="text-black">Strategisk rådgivning om<br> digital transformation</h3>
              </div>
          </div>
          <div class="text-container">
              <p class="text-black">
                  Udnytter din virksomhed sit digitale potentiale?
                  Hvilke forretningsmuligheder er der, 
                  og hvad betyder det på et strategisk plan?
              </p>
          </div>
      </div>
      <div class="transformation">
          <div class="svg-and-title">
              <img src="./assets/illustration2.svg" alt="Bars and curves" class="transformationSVG">
              <div class="transformation-header">
                  <h3 class="text-black">Eksekvering af <br> digital transformation</h3>
              </div>
          </div>
          <div class="text-container">
              <p class="text-black">
                  I ved, hvad I vil, men I har brug for hjælp til at rulle 
                  strategien ud i forhold til 
                  organisationen og det digitale fundament bl.a. på Sitecore.
                  Det handler om mennesker og resultater.
              </p>
          </div>
      </div>
  </div>
</div>