@font-face {
    font-family: "Gotham-black";
    src: url("./assets/fonts/gotham-black-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham-bold";
    src: url("./assets/fonts/Gotham-bold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham-book";
    src: url("./assets/fonts/Gotham-book-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham-xlight";
    src: url("./assets/fonts/Gotham-xlight-webfont.woff2") format("woff2");
}


$navigation-background-color: #232325;
$main-black: #2A2A2C;
$main-white: #FFFFFF;
$background-red: rgb(240, 60, 50);
$form-font-color: #EB5B51; 
$title-font: "Gotham-black";
$subtitle: "Gotham-bold";
$paragraph: "Gotham-book";
$input-font: "Gotham-xlight";
$mobile-small-max-width: 449px;
$mobile-max-width: 768px;
$tablet-max-width:992px;

