<div class="container-zeppelin container-fluid">
  <h5 class="text-white header">Bliv en digital vinder</h5>
  <img src="./assets/zeppeliner.svg" alt="zeppeliner" class="zeppeliner">
  <div class="title-container">
      <h1 class="text-white" id="main-title" >Digital transformation</h1>
      <h4 class="text-white">Rådgivning. Implementering. Resultater.</h4>
  </div>
  <br>
  <div class="text-container">
      <p class="text-white">Hvordan bliver din virksomhed en digital vinder i fremtiden?
      Hvilke tiltag skal der til strategisk og taktisk for at dreje forretningen i den
      rigtige retning? Hvilke elementer indeholder en successfuld digital
      transformation? Vi har svarene. Pentia kan hjælpe dig på hele rejsen
      fra strategisk rådgivning til implementering.
      </p>
  </div>
  <div class="journey-wrapper">
      <p class="text-white" style="font-size : 0.8em; font-weight : bold">Start din rejse her</p>
      <div class="journey">
          <div class="journey-dot"></div>
      </div>
  </div>
</div>